<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OpenMod.UnityEngine.Redist" version="2020.3.38" targetFramework="net48" />
  <package id="OpenMod.Unturned.Redist" version="3.23.3.1" targetFramework="net48" />
  <package id="ShimmyMySherbet.RocketExtensions.RocketMod.Redist" version="4.9.3.5" targetFramework="net48" />
</packages>